<template name="adminProducts">

  <div class="admin-products">

    <section class="content-header">
      <h1>
        <i class="fa fa-shopping-cart"></i> Products
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="{{pathFor 'adminDashbaord'}}">
            <i class="fa fa-map"></i> Dashboard
          </a>
        </li>
        <li class="active">Products</li>
      </ol>
    </section>

    <section class="content">
      <div class="box box-default">
        <div class="box-body">
          {{#if Template.subscriptionsReady}}
            {{> reactiveTable settings=settings}}
          {{else}}
            Loading ...
          {{/if}}
        </div>
      </div>
    </section>

  </div>

</template>
