<template name="adminWelcome">

  <section class="content-header">
    <h1>
      MorePlease
      <small>ADMIN</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="{{pathFor 'adminWelcome'}}">
          <i class="fa fa-map"></i> Home
        </a>
      </li>
      <li class="active">Welcome</li>
    </ol>
  </section>

  <section class="content">

    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-child"></i> Welcome!</h3>
      </div>
      <div class="box-body">
        <p>
          Welcome to the <strong>MorePlease</strong> subscription management system.
        </p>
        <p>
          Please <a href="#" class="login">login to continue</a>.
        </p>
      </div>
    </div>

  </section>

</template>
