<template name="adminSettingsEmail">

  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">
        {{emailTitle}}
      </h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <p>
            {{{emailDescription}}}
          </p>
          {{#if Template.subscriptionsReady}}
            {{#autoForm id=formId collection=collection doc=email
                type=type meteormethod=method
                singleMethodArgument=singleMethodArgument}}
              {{> afFieldInput name="storeId" value=storeId}}
              {{> afFieldInput name="emailType" value=emailType}}
              {{> afQuickField name="enabled"}}
              {{> afQuickField name="from"}}
              {{> afQuickField name="bcc"}}
              {{> afQuickField name="subject"}}
              {{> afQuickField name="body" rows="10"}}
              <div class="text-right">
                <button type="button"
                    class="btn btn-link btn-email js-test-email"
                    data-toggle="modal" data-target="#email-test-modal">
                  <i class="fa fa-envelope-o"></i> Test
                </button>
                <button type="submit" class="btn btn-primary btn-save">
                  Save
                </button>
              </div>
            {{/autoForm}}
          {{else}}
            Loading ...
          {{/if}}
        </div>
        <div class="col-md-6">
          <div class="preview-content">
            {{{previewContent}}}
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
