.sweet-alert
  top 20%
  h2
    margin 15px 0
    line-height 34px
  button
    line-height inherit
    height inherit
    margin 10px 5px
  button.cancel
    background-color #5cb85c
  button.cancel:hover, button.cancel:active
    background-color #6CBF6C
  .sa-icon
    margin 10px auto
