body
  -webkit-font-smoothing antialiased

.content-header
  h1
    small
      a
        font-weight 400

#__blaze-root > b
  padding 10px
  display block

// .box.container
//   margin 0
//
// .box
//   font-family 'Source Sans Pro', 'sans-serif'
//   color #5c6b80
//   a
//     color #273b4d
//   a:hover, a:focus
//     color #18242f
//   p
//     margin 5px
//   h1
//     color $colorTitle
//     font-weight 700
//     font-size 1.125em
//     margin-bottom 20px
//     margin-top 18px
//     border-bottom 1px solid #D4E0EC
//     padding-bottom 5px
//     line-height 1.4em
//     text-rendering optimizelegibility
//     letter-spacing 0
//   h2
//     font-size 16px
//     font-weight bold
//   table
//     border 1px solid #D4E0EC
//     border-collapse separate
//     width 100%
//     margin-bottom 0
//     th
//       background-color #F9FAFC
//       font-weight 100
//       color #848E97
//       text-align left
//       padding 15px 10px
//       border-bottom none
//     td
//       border-top 1px solid #D4E0EC
//       border-bottom none
//       padding 10px
//       vertical-align middle
//     th:last-child, td:last-child
//       padding-right 20px
//     .box-item-image
//       text-align center
//       img
//         max-height 100px
//     .box-item-quantity
//       text-align center
//     .box-item-price
//       text-align right
//     .box-total
//       font-size 16px
//     .box-shipping
//       font-size 14px
//     p
//       margin 5px 0
//   .box-details
//     margin-bottom 20px
//     .box-status
//       color #FFF
//       border-radius 2px
//       padding 1px 7px 2px 7px
//       text-transform uppercase
//       font-weight bold
//       margin-right 5px
//     .box-active
//       background-color #5cb85c
//     .box-paused
//       background-color #f0ad4e
//     .box-controls
//       white-space nowrap
//       line-height 25px
//     table
//       th
//         width 35%
//         vertical-align middle
//         border none
//         font-weight bold
//       .box-th-sub-status
//         vertical-align top
//       .box-th-next-ship-date
//         vertical-align top
//         padding-top 15px
//       td
//         border none
//     .box-ship-message
//       margin-top 5px
//   .box-item
//     margin-bottom 20px
//     border-bottom 1px solid #d4e0ec
//     padding-bottom 10px
//     p
//       margin 5px 0
//   .box-item:first-child
//     border-top 1px solid #d4e0ec
//     padding-top 20px
//   .box-message
//     border 1px solid #D4E0EC
//     background-color #F1F2F4
//     padding 10px 20px 5px 20px
//     border-radius 5px
//     ul
//       margin 10px 0
//       padding-left 20px
//       li
//         margin 0
//
// .sweet-alert
//   top 20%
//   h2
//     margin 15px 0
//   button
//     line-height inherit
//     height inherit
//     margin 10px 5px
//   button.cancel
//     background-color #5cb85c
//   button.cancel:hover, button.cancel:active
//     background-color #6CBF6C
//   .sa-icon
//     margin 10px auto
//
// .admin
//   margin-top 10px
//   .boxes
//     table
//       tr
//         cursor pointer
//   .a-box
//     table
//       th
//         width 30%
//         vertical-align middle
//       .box-item-image
//         img
//           max-height 100px
//   .box-renew-now-option
//     margin-top 5px
//
// .alert-info
//   border-color #D4E0EC
//   background-color #F1F2F4
//   color #5c6b80
//   ul
//     padding-left 20px
