.subscription-details
  th
    width 25%
  .subscription-failed
    margin-top 10px
  .subscription-failed.alert
    margin-bottom 0

.subscription-item-image, .sub-item-image
  img
    max-height 100px
    max-width 100px
